// Background colours
$backgroundColour: #040616 !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #faf9f9 !default;
$accentColour: #ff2a2a !default;

// Text colours
$headingColour: #f91111 !default;
$bodyColour: #e4e4e4 !default;
$linkColour: #f01000 !default;
$hoverColour: #ffceae !default;
$focusColour: #fa407a !default;
$captionColour: #c7ddf3 !default; 
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: ETBook, "Chronicle Text G2", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif,
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: ETBook,
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
